.sticky-a {
    position: fixed;
    top: 0;
    left: -20px;
    z-index: 10;
    width: 200px;
    height: 200px;
}

.sticky-b {
    position: fixed;
    bottom: 0px;
    right: -30px;
    z-index: 10;
    width: 200px;
    height: 200px;
}

.sticky-a svg,
.sticky-b svg {
    width: 100%;
    height: 100%;
}

@media (max-width: 1024px) {
    .sticky-a,
    .sticky-b {
        width: 100px;
        height: 100px;
    }
}

@media (max-width: 768px) {
    .sticky-a,
    .sticky-b {
        width: 100px;
        height: 100px;
    }
}

@media (max-width: 480px) {
    .sticky-a,
    .sticky-b {
        width: 100px;
        height: 100px;
    }
}
