.custom-btn {
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #c3976f;
    border: solid 6px #c3976f;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.35);
    cursor: pointer;
}

.custom-btn:hover {
    background-color: #d4b18a;
    transition: background-color 0.3s ease;
}