.demo-video {
    width: 600px;
    height: 400px;
    border: solid 5px #c3976f;
    border-radius: 20px;
}

.text-description {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    padding-left: 5rem;
    padding-right: 5rem;
    white-space: pre-line;
    font-size: 1.5rem;
    background: linear-gradient(to top right, #333333, #1a1a1a);
    border-radius: 20px;
    border: solid 5px #c3976f;
}

.text-bold {
    font-weight: bold;
}

.features {
    text-align: left;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    padding-left: 5rem;
    padding-right: 5rem;
    font-size: 1.5rem;
    background: linear-gradient(to top right, #333333, #1a1a1a);
    border-radius: 20px;
    border: solid 5px #c3976f;
}

.heading-bubble {
    background-color: #c3976f;
    padding: 1rem;
    border-radius: 20px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}


/* Small screens */
@media (max-width: 640px) {
    .demo-video {
        max-width: 90%;
        max-height: 300px;  /* Adjust height for small screens */
    }
}

/* Medium screens */
@media (max-width: 768px) {
    .demo-video {
        max-width: 90%;
        max-height: 350px;  /* Adjust height for medium screens */
    }
}

/* Large screens */
@media (max-width: 1024px) {
    .demo-video {
        max-width: 90%;
        max-height: 400px;  /* Default height for large screens */
    }
}
