@import "tailwindcss";

@theme {
  --color-royal-blue-solid: #1d315a;
  --color-navbar: rgba(0, 0, 0, 0.5);
  --color-royal-blue-opacity: rgba(29, 49, 90, 0.8);
  --color-royal-gold-solid: #c29a6b;
  --color-royal-gold-solid-hover: #d6b88a;
  --color-royal-gold-opacity: rgba(194, 154, 107, 0.8);
  --color-regal-gray-solid: #1a1a1a;
  --color-regal-gray-opacity: rgba(26, 26, 26, 0.8);
}


:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-image: url('/background/bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, #root {
  width: 100%;
  margin: 0;
  padding: 0;
}