.experience-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 800px;
    border: 5px solid #c3976f;
    border-radius: 1rem;
    padding-bottom: 1rem;
    background: linear-gradient(to top right, #333333, #1a1a1a);
}

.experience-card img {
    width: 100%;
    height: 210px;
    object-fit: contain;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom: 5px solid #c3976f;
}

.experience-card p {
    padding-left: 1rem;
    padding-right: 1rem;
}

@media (max-width: 768px) {
    .experience-card img {
        height: 200px;
    }
}
